*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(photos/bg2.jpg);
    background-position: top;
    background-size: cover;
    font-family: sf pro display;
  
}

nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    height: 25px;
}

#logo{
    width: 20px;
    padding: 10px auto;
}

.ribbon{
    display: flex;
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    font-family: sf pro display;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}

.ribbon div{
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ribbon div:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: white;
}

#appname{
    font-weight: 800;
    font-size: 14px;
}

.nav_notif{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.notibar{
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    font-family: sf pro display;
    justify-content: space-between;
    align-items: center;

}

.notibar>div{
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.notibar > div:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
}

#time{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    align-items: center;
}

.notibar img{
    height: 18px;
}


.dock{
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 10px;
    justify-content: center;
}


.maindock{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}


.middle{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(60px);
    height: 750px;
    width: 1250px;
    border-radius: 10px;

    display: flex;
}

.sidenav{
    height: 100%;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    flex-direction: column;
}

.ctrl_buttons{
    color: white;
    margin-left: 20px;
    height: 50px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctrl_buttons>div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.ctrl_buttons>div:nth-of-type(1){
    border: 0.5px solid red;
    background-color: rgb(255, 67, 67);
}

.ctrl_buttons>div:nth-of-type(2){
    border: 0.5px solid yellow;
    background-color: rgb(255, 192, 0);
}

.ctrl_buttons>div:nth-of-type(3){
    border: 0.5px solid green;
    background-color: rgb(0, 176, 80);
}

.ctrl_buttons>div:nth-of-type(1):hover{
    border: 0px solid red;
    background-color: rgba(255, 0, 0, 0.3);
}

.ctrl_buttons>div:nth-of-type(2):hover{
    border: 0px solid yellow;
    background-color: rgba(255, 204, 0, 0.7);
}

.ctrl_buttons>div:nth-of-type(3):hover{
    border: 0px solid green;
    background-color: green;
}

.mail_nav{
    height: 100%;
    border-bottom-left-radius: 10px;
    margin: 0 10px;

    display: flex;
    flex-direction: column;
}

.mail_type_categ{
    padding: 5px;
    color: rgb(255, 255, 255, 0.6);
    font-family: sf pro;
    font-size: 12px;
    font-weight: bold;
    
}

.mail_categ_name{
    flex: 1;
    transition: margin-left 150ms;
}

.new_mail{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    float: right;
    padding: 3px 8px;
    
}

.mail_type:hover>.new_mail{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    animation-name: wiggle;
    animation-duration: 300ms;
    animation-iteration-count: infinite;

}

@keyframes wiggle{
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}


.mail_type:hover .mail_categ_name{
    margin-left: 2px;
}

.mail_nav>div:nth-of-type(4){
    margin-top: 15px;
}

.mail_nav>div:nth-of-type(7){
    margin-top: 15px;
}

.mail_type{
    padding: 5px 10px;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    font-family: sf pro;
    font-size: 14px;
    font-weight: 500;
    width: 100%;

    display: flex;
    align-items: center;

}


.mail_type>img{
    height: 15px;
    margin-right: 10px;
}

.mail_type:hover{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    cursor: pointer;
    color: white;
}

.app_content{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    flex-grow: 1;
    width: 1050px;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-wrap: wrap;
}


.app_nav{
    border-top-right-radius: 10px;
    width: 100%;
    height: 50px;

    display: flex;
}

.inbox_head{
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.inbox_banner{
    margin-left: 20px;
    width: 100%;
}

.inbox_banner>div:nth-of-type(1){
    font-size: 13px;
    /* width: 70%; */
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
}

.inbox_banner>div:nth-of-type(2){
    font-size: 12px;
    margin-top: 3px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.inbox_head>div:nth-of-type(2){
    width:30px;
    padding: 5px 0 5px 0;
    border-radius: 8px;
    transition: background-color 100ms;

    display: flex;
    justify-content: center;
}

.inbox_head>div:nth-of-type(2):hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.inbox_head>div:nth-of-type(2)>img{
    
    float: right;
    height: 15px;
    width: 15px;
}

.item{
    width: 100%;
    height: 700px;
    border-bottom-right-radius: 10px;

    display: flex;
}

.item_list{
    /* background-color: grey; */
    width: 35%;
    height: 100%;
    padding: 6px 0;;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item_list>div{
    /* background-color: yellow; */
    width: 90%;
    flex:1;
    overflow:hidden;
}


.email{
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    color: aliceblue;
    font-size: 12px;
    padding: 5px 0;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email:hover{
    /* background-color: #1554a7; */
    background-color: #134fb6;
    transform: scale(1.01);
    transition: transform 150ms;
}

.email>div{
    
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
}

.email>div:nth-of-type(1){
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding-bottom: 2px;
}

.email>div:nth-of-type(2){
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 0px;
}

.email>div:nth-of-type(3){
    color: rgba(255, 255, 255, 0.7);
    padding-top: 2px;
}

.email_head{
    display: flex;
    width: 100%;
}

.sender{
    color: white;
    font-size: 13px;
    font-weight: 600;
    flex:1;
}

.sent_time{
    font-weight: 400;
}

.item_content{
    border-bottom-right-radius: 10px;
    /* background-color: black; */
    width: 65%;
    height: 100%;

}